@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutLander.cshtml";
}

<div class="row align-items-center h-100 ">
    <div class="col-12 col-md-6 col-lg-5 order-last order-md-first">
        <div class="ms-5">
            <h1 class="heroTitle">
                Experience the power of <span class="texthighlight">KINEXT</span> today!
            </h1>
            <div class="subtitle">
                Organize all of your professional and personal contacts in one place! 
                <br><br><strong>Built expertly using cutting edge tech:</strong>
                <br><i class="devicon-dot-net-plain-wordmark colored icon"></i>
                <i class="devicon-csharp-plain-wordmark colored icon"></i>
                <i class="devicon-postgresql-plain-wordmark colored icon"></i>
                <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
                <i class="devicon-heroku-plain-wordmark colored icon"></i>
            </div> 
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7 text-center">
        <img src="~/img/KinextLanding.png" class="img-fluid">
    </div>
</div>
