@model IEnumerable<ContactPro.Models.Category>
@using ContactPro.Services.Interfaces

@inject IImageService ImageService

@{
	ViewData["Title"] = "Index";
}

<h1>Groups</h1>
<div class="row row-cols-md-3 g-3">
	@foreach (var category in Model)
	{
		<div class="col">
			<div class="card mb-3">
				<a class="text-decoration-none" asp-action="Details" asp-route-id="@category.Id">
					<img class="card-img-top" src='@ImageService.ConvertByteArrayToFile(category.ImageData!, category.ImageType!)' alt="...">
				</a>
				<div class="card-body">
					<ul class="d-flex justify-content-center list-unstyled">
						<li class="flex-grow-1">
							<h5 class="card-title">@category.Name</h5>
						</li>
						<li>
							<a href="javascript:void(0);" class="anchorEmail" data-id="@category.Id"><i class="bi bi-envelope-fill"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	}
</div>

@* Email Category Modal *@
<form asp-action="EmailCategory" method="post">
	<div id="myModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div id="myModalContent" class="modal-content">
			</div>
		</div>
	</div>
</form>

@section scripts {
	<script>
		var PostBackURL = "/Categories/EmailCategory";
		$(function () {
			$(".anchorEmail").click(function () { 
				var $buttonClicked = $(this);
				var id = $buttonClicked.attr("data-id");
				var options = { "backdrop": "static", keyboard: true };

				$.ajax({
					type: "GET",
					url: PostBackURL,
					contentType: "application/json; charset=utf-8",
					data: { "id": id },
					datatype: "json",
					success: function (data) {  
						$('#myModalContent').html(data);
						$('#myModal').modal(options);
						$('#myModal').modal('show');
					},
					error: function () {
						alert("Dynamic content load failed.");
					}
				});
			});

		}); 
	</script> 
}